// INCLUDE VARIABLES:
@import "../../sass/vars/_vars"

.joker-btn
  padding: 0.5rem 1rem
  font-size: 1rem
  font-weight: bold
  border: 1px solid $main-cl
  margin-right: 0.8rem
  transition: $fast-transition
  outline: 0
