// INCLUDE VARIABLES:
@import "../../sass/vars/_vars"

.joker-btn
  padding: 0.7rem 1rem
  border-radius: 1rem
  margin-top: 3rem
  font-size: 1rem
  font-weight: bold
  display: inline-block;
  border: none
  margin-right: 0.8rem
  transition: $fast-transition
  &:hover
    transform: scale(1.05)
