/**** LAYOUT STYLES === GLOBAL STYLE ****/

// FONT IMPORT:
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap')

// INCLUDE VARIABLES:
@import "../../sass/vars/_vars"
// INCLUDE HELPER CLASSES:
@import "../../sass/helpers/_helpers-classes"
// INCLUDE MEDIA QUERY:
@import "../../sass/media-query/media-query"

// LET'S START STYLING:
body
  font-family: $main-font !important
  background: $white
  color: $main-cl
