// INCLUDE VARIABLES:
@import "../../sass/vars/_vars"

section.hero-banner
  display: flex
  justify-content: center
  align-items: center
  height: 80vh
  text-align: center
  h1.hero-heading
    font-weight: bolder
    font-size: 3rem
  p.hero-text
    color: $dark-gray
    
